.container{
    padding: 20px;
}
.topContainer {
    display: flex;
    justify-content: space-between;
  }
  h1{
    font-size:50px;
  }
  h3{
    font-size:30px;
  }
  
  .photoDiv {
    width: fit-content;
    height: fit-content;
  }
  
  .profilePhoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: #E5E5E5;
  }
  
  .portionDiv {
    flex:1;
    margin:20px;
  }


  .greyBubble{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:10px;
  }
  .badgesStats {
    display: flex;
    flex: 1;
    justify-content: space-between; /* Align badges and stats to left and right */
  }
  
  .badges {
    flex-direction: row;
  }
  
  .stats {
    flex-direction: row;
  }
  
.link {
        text-decoration: none;
        color: #0e0c0c;
        font-family: georgia;
}

.savedCourses{
    display:flex;
}

.course{
    flex:1;
    width:fit-content;
    height:fit-content;
    
}
.chatBot {
  display: flex;
  flex-direction: column;
  max-width: 65px;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 18px;
  background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/e707bb0b-a767-44ee-9250-ce414331b216?");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:20px;
}

